


@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



.singlePage {
    padding-top: 80px;
    background-color: aqua;
    background-image: url("../images/photo-1602913986112-b738a2d2ab9b.avif");
    background-size: cover; /* Make the background image cover the element */
    background-position: center center; /* Center the background image */
    height: 100%; /* Set the height to 100% of the viewport height */
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 80px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* background-color: #fff; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease-in-out;
    overflow: visible;
    transition: transform 0.2s; /* Added transition for hover effect */
}

.singlePage:hover {
    transform: translateY(-5px); /* Apply lift effect on hover */
}

.singlePage:hover {
    transform: translateY(-5px); /* Apply lift effect on hover */
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.singlePage h1 {
    /* padding-top: 80px; */
    font-size: 40px;
    margin: 20px 0;
    
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(45deg, #FFB800, #0a0a0a);
    background-clip: text; /* Clip the gradient to the text */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text transparent to show the gradient */
    transition: background 0.2s; /* Added transition for color change on hover */
}




.singlePage p {
    font-size: 24px;
    line-height: 1.6;
    
    font-family: 'Inconsolata', monospace;
    /* background: linear-gradient(45deg, #f2709c, #ff9472); */
    background: linear-gradient(45deg, #8e44ad, #017230);
    
    /* background: linear-gradient(45deg, #ff5c4a, #ffad3b); */
    /* background: linear-gradient(45deg, #1abc9c, #2ecc71); */
    /* background: linear-gradient(45deg, #9b59b6, #e91e63); */
    /* background: linear-gradient(45deg, #f2709c, #ff9472); */
    /* background: linear-gradient(45deg, #00b4db, #0083b0); */
    /* background: linear-gradient(45deg, #ffab40, #ff6d00); */

    background-clip: text; /* Clip the gradient to the text */
    -webkit-background-clip: text; /* For Safari support */
    color: transparent; /* Make the text transparent to show the gradient */
    transition: background 0.2s;
;
    
}

@media (max-width: 1024px) {
    .singlePage {
       
        background-color: aqua;
        display: inline-block;
        text-align: center;
        
        
        max-width: 100%;
        margin: 0 auto;
        padding: 100px;
        /* border: 1px solid #ccc; */
        border-radius: 10px;
        /* background-color: #fff; */
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        animation: fadeInUp 0.5s ease-in-out;
        overflow: scroll;
        transition: transform 0.2s; /* Added transition for hover effect */
        box-shadow:none
    }
    .singlePage p {
        font-size: 24px;
        line-height: 1.6;
        
        text-align: center;
        
    }

}
@media (max-width: 768px){
    .singlePage {
        background-color: aqua;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 20px 10px;
        /* border: 1px solid #ccc; */
        border-radius: 10px;
        /* background-color: #fff; */
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        animation: fadeInUp 0.5s ease-in-out;
        overflow:scroll;
        transition: transform 0.2s; /* Added transition for hover effect */
        box-shadow:none
    }
    .singlePage p {
        font-size: 24px;
        line-height: 1.6;
        
        text-align: center;
        
    }
}


